html 
    head 
        title Details 
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer")
    body 
        include bootstrap.html
        include header.pug
        //- each i in file
        //-     h3=i

        table.table.table-dark.table-striped 
            thead
                tr
                    th(scope="col") Name
                    th(scope="col") Email
                    th(scope="col") Password
                    th(scope="col") Age
                    th(scope="col") City
                    th(scope="col") Mobile NO
            tbody
                -for (var i = 0; i < file.length-1; ++i) {
                    tr
                        td #{file[i].name}
                        td #{file[i].email}
                        td #{file[i].pass}  
                        td #{file[i].age}
                        td #{file[i].city}
                        td #{file[i].mobile} 
                -}
        
        
